.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 56px);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}
